

.clearfix-grid:before, 
.clearfix-grid:after  	{content: "";display:table;}
.clearfix-grid:after 		{clear: both;}
.oldie .clearfix-grid   	{zoom:1;}






.full-width					{float:left;display:block;width:100%;margin:0 0 20px 0;}
.one-fourth 					{float:left;width:220px;margin:0 20px 20px 0; height: 330px;}
.one-half					{float:left;width:560px;margin:0 20px 20px 0;}
.main .one-fourth 			{background:#fff;webkit-box-shadow:0 0 2px rgba(0,0,0,0.1);-moz-box-shadow:0 0 2px rgba(0,0,0,0.1);box-shadow:0 0 2px rgba(0,0,0,0.1);}
.main .one-half 				{background:#fff;webkit-box-shadow:0 0 2px rgba(0,0,0,0.1);-moz-box-shadow:0 0 2px rgba(0,0,0,0.1);box-shadow:0 0 2px rgba(0,0,0,0.1);}
.one-fourth.last 			{margin-right:0;}
.one-half.last 				{margin-right:0;}
.one-fourth .details 		{float:left;display:block;padding:10px 20px 15px 15px;width:180px;}
.three-fourth 				{float:left;width:700px;margin:0 0 20px 0;}
.full						{float:left;display:block;width:100%;margin:20px 0 10px;}


.locations article				{background:#fff;webkit-box-shadow:0 0 2px rgba(0,0,0,0.1);-moz-box-shadow:0 0 2px rgba(0,0,0,0.1);box-shadow:0 0 2px rgba(0,0,0,0.1);position:relative;
background-color: #FFF;	   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);}
.locations article.last 		{margin:0 0 20px;}
.locations h1				{font-size:1.8em;padding:4px 0 10px;color:#666;-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none;text-align:left;display:inline-block;float:left;width:100%;}
.locations .details			{text-align:center;}

.locations h5				{text-align: left; color: #e6073c; line-height: 13px; font-weight: 700;}
.locations h5 a.offer_name				{text-align: left; color: #e6073c;}


.locations .details span,
.locations .details div		{text-align:left;}
.locations .description		{float:left;margin:0 0 10px;overflow:hidden;}
.locations .description p 	{padding:0px; line-height: 17px;}
.locations .full-width figure  					{float:left;margin:0 10px 0 0;}
.locations .full-width .details				{float:left;width:350px;padding:15px 20px 0 0;}
.locations .full-width  h1					{width:350px;padding:0 0 10px;}
.locations .full-width  .description			{width:350px;border:none;margin:0;padding:3px 0 2px;overflow:hidden;}

.locations .full-width img			{width:200px; height: 140px; border:none;margin:0;padding:0px;overflow:hidden; margin-bottom: -5px; margin-right: 20px; background-color: #FFF;}
.locations .full-width h5			{font-size: 16px; color: #e6073c; padding-bottom: 5px; font-weight: 700;}

.locations .full-width img			{width:130px; height: 100px; border:none;margin:0;padding:0px;overflow:hidden; margin-bottom: -5px;  margin: 10px; border: 1px solid #ddd; padding: 5px;   -moz-border-radius: 3px;
  -webkit-border-radius: 3px;}




aside 			{width:270px;float:left;}
aside article 		{width:230px;background:#fff;padding:14px 20px 20px;margin:0 0 20px;webkit-box-shadow:0 0 2px rgba(0,0,0,0.1);-moz-box-shadow:0 0 2px rgba(0,0,0,0.1);box-shadow:0 0 2px rgba(0,0,0,0.1);}
aside article p 		{padding:0 0 0px;}
aside article h2 	{font-size:1.7em;color:#999;border-bottom:1px solid #ccc;margin:0 0 15px;}
aside article h3	{font:normal 1.4em 'OpenSansBold';color:#41C0B8;letter-spacing:-0.03em;padding:0 0 5px;}

