/* =============================================================== */
/* Buttons
================================================================ */
.button {
	display: inline-block;
	font-weight: bold;
	font-family:  Arial, sans-serif;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	margin: 0 5px 5px 0;
	*float: left; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.button:active {
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.button.medium i {float: left;margin: 2px 5px 0px -5px;}
.button.small i {float: left;margin: 1px 5px 0px -3px;}

.button.medium  {
	padding: 10px 14px;
	font-size: 14px;
}

.button.small {
	padding: 6px 12px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	line-height: 16px;
}

.facebook-button {
	float: left;
}

/* Input Button
==========================*/
input[type="button"] {
	display: inline-block;
	font-weight: bold;
	font-family:  Arial, sans-serif;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	margin: 0px;
	*float: left;
	-webkit-box-shadow: inset 1px 0px 0px rgba(255, 255, 255, .3);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .3);
	padding: 7px 14px !important;
	font-size: 14px;
	width: auto !important;
	width: 100%;
	float: left;
}

input[type="button"]:active {
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}


/* Yellow Button
==========================*/
.button.yellow, input[type="button"] {
	border: 1px solid #e6bd4c;
	background-image: linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
	background-image: -o-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
	background-image: -moz-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
	background-image: -webkit-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
	background-image: -ms-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
	background-color: #FCCC73;
	color:#754c00;
	text-shadow: 1px 1px 0px #ffebb7;
}

.button.yellow:hover, input[type="button"]:hover {background: #fbd684;}

.btn-orange {
  background-color: #ff8000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5800), to(#ff8000));
  background: -webkit-linear-gradient(top, #ff8000, #ff5800);
  background: -moz-linear-gradient(top, #ff8000, #ff5800);
  background: -ms-linear-gradient(top, #ff8000, #ff5800);
  background: -o-linear-gradient(top, #ff8000, #ff5800);
  border: 1px solid #ff5800;
}

.btn-orange:hover {
  background-color: #ff5800;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5800), to(#ff5800));
  background: -webkit-linear-gradient(top, #ff5800, #ff5800);
  background: -moz-linear-gradient(top, #ff5800, #ff5800);
  background: -ms-linear-gradient(top, #ff5800, #ff5800);
  background: -o-linear-gradient(top, #ff5800, #ff5800);
}

/*Red*/
.btn-red {
  background-color: #d51a3f;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF0000), to(#d51a3f));
  background: -webkit-linear-gradient(top, #FF0000, #d51a3f);
  background: -moz-linear-gradient(top, #FF0000, #d51a3f);
  background: -ms-linear-gradient(top, #FF0000, #d51a3f);
  background: -o-linear-gradient(top, #FF0000, #d51a3f);
  border: 1px solid #d51a3f;
  color:#FFFFFF;
}

.btn-red:hover {
  background-color: #ca0000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ca0000), to(#ca0000));
  background: -webkit-linear-gradient(top, #ca0000, #ca0000);
  background: -moz-linear-gradient(top, #ca0000, #ca0000);
  background: -ms-linear-gradient(top, #ca0000, #ca0000);
  background: -o-linear-gradient(top, #ca0000, #ca0000);
  color:#FFFFFF;
}

/*Blue*/
.btn-blue {
  background-color: #3f8ff2;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f74bf), to(#3f8ff2));
  background: -webkit-linear-gradient(top, #3f8ff2, #4f74bf);
  background: -moz-linear-gradient(top, #3f8ff2, #4f74bf);
  background: -ms-linear-gradient(top, #3f8ff2, #4f74bf);
  background: -o-linear-gradient(top, #3f8ff2, #4f74bf);
  border: 1px solid #4f74bf;
}

.btn-blue:hover {
  background-color: #4f74bf;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f74bf), to(#4f74bf));
  background: -webkit-linear-gradient(top, #4f74bf, #4f74bf);
  background: -moz-linear-gradient(top, #4f74bf, #4f74bf);
  background: -ms-linear-gradient(top, #4f74bf, #4f74bf);
  background: -o-linear-gradient(top, #4f74bf, #4f74bf);
}

/*Green*/
.btn-green {
  background-color: #73b845;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#54ad19), to(#73b845));
  background: -webkit-linear-gradient(top, #73b845, #54ad19);
  background: -moz-linear-gradient(top, #73b845, #54ad19);
  background: -ms-linear-gradient(top, #73b845, #54ad19);
  background: -o-linear-gradient(top, #73b845, #54ad19);
  border: 1px solid #54ad19; color: #FFF;
}

.btn-green:hover {
  background-color: #54ad19;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#54ad19), to(#54ad19));
  background: -webkit-linear-gradient(top, #54ad19, #54ad19);
  background: -moz-linear-gradient(top, #54ad19, #54ad19);
  background: -ms-linear-gradient(top, #54ad19, #54ad19);
  background: -o-linear-gradient(top, #54ad19, #54ad19);color: #FFF;
}

/*Magenta*/
.btn-magenta {
  background-color: #b637c5;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a711b9), to(#b637c5));
  background: -webkit-linear-gradient(top, #b637c5, #a711b9);
  background: -moz-linear-gradient(top, #b637c5, #a711b9);
  background: -ms-linear-gradient(top, #b637c5, #a711b9);
  background: -o-linear-gradient(top, #b637c5, #a711b9);
  border: 1px solid #a711b9;
}

.btn-magenta:hover {
  background-color: #a711b9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a711b9), to(#a711b9));
  background: -webkit-linear-gradient(top, #a711b9, #a711b9);
  background: -moz-linear-gradient(top, #a711b9, #a711b9);
  background: -ms-linear-gradient(top, #a711b9, #a711b9);
  background: -o-linear-gradient(top, #a711b9, #a711b9);
}

/*Custom*/
.btn-custom {
  background-color: #your_color;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#your_color), to(#your_color));
  background: -webkit-linear-gradient(top, #your_color, #your_color);
  background: -moz-linear-gradient(top, #your_color, #your_color);
  background: -ms-linear-gradient(top, #your_color, #your_color);
  background: -o-linear-gradient(top, #your_color, #your_color);
  border: 1px solid #your_color;
}

.btn-custom:hover {
  background-color: #your_color;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#your_color), to(#your_color));
  background: -webkit-linear-gradient(top, #your_color, #your_color);
  background: -moz-linear-gradient(top, #your_color, #your_color);
  background: -ms-linear-gradient(top, #your_color, #your_color);
  background: -o-linear-gradient(top, #your_color, #your_color);
}


/* White Button
==========================*/
.button.white {
	border: 1px solid #dddddd;
	background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-color: #F7F7F7;
	color:#444;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.button.white:hover {background: #fbfbfb;}


/* Black Button
==========================*/
.button.black {
	border: 1px solid #464646;
	background-image: linear-gradient(bottom, #464646 0%, #656565 100%);
	background-image: -o-linear-gradient(bottom, #464646 0%, #656565 100%);
	background-image: -moz-linear-gradient(bottom, #464646 0%, #656565 100%);
	background-image: -webkit-linear-gradient(bottom, #464646 0%, #656565 100%);
	background-image: -ms-linear-gradient(bottom, #464646 0%, #656565 100%);
	background-color: #464646;
	color:#fff;
	text-shadow: 1px -1px 0px #444;
	filter: dropshadow(color=#4444444, offx=1, offy=1);
}

.button.black:hover {background: #535353;}


/* Red Button
==========================*/
.button.red {
	  background-color: #FFCB18;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFCB18), to(#FFCB18));
  background: -webkit-linear-gradient(top, #FFCB18, #FFCB18);
  background: -moz-linear-gradient(top, #FFCB18, #FFCB18);
  background: -ms-linear-gradient(top, #FFCB18, #FFCB18);
  background: -o-linear-gradient(top, #FFCB18, #FFCB18);
	color:#fff;
	text-shadow: 1px -1px 0px #9f8324;
	filter: dropshadow(color=#9f8324, offx=1, offy=1);
}

.button.red:hover {background: #f0bb50;}


/* Green Button
==========================*/
.button.green {
	border: 1px solid #819633;
	background-image: linear-gradient(bottom, #8DA046 0%, #A3B951 100%);
	background-image: -o-linear-gradient(bottom, #8DA046 0%, #A3B951 100%);
	background-image: -moz-linear-gradient(bottom, #8DA046 0%, #A3B951 100%);
	background-image: -webkit-linear-gradient(bottom, #8DA046 0%, #A3B951 100%);
	background-image: -ms-linear-gradient(bottom, #8DA046 0%, #A3B951 100%);
	background-color: #8DA046;
	color:#fff;
	text-shadow: 1px -1px 0px #77873b;
	filter: dropshadow(color=#77873b, offx=1, offy=1);
}

.button.green:hover {background: #93a749;}


/* Blue Button
==========================*/
.button.blue {
	border: 1px solid #1f70ad;
	background-image: linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%);
	background-image: -o-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%);
	background-image: -moz-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%);
	background-image: -webkit-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%);
	background-image: -ms-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%);
	background-color: #2778C8;
	color:#fff;
	text-shadow: 1px -1px 0px #1c6396;
	filter: dropshadow(color=#1c6396, offx=1, offy=1);
}

.button.blue:hover {background: #287fc8;}


/* =============================================================== */
/* Social Widget
================================================================ */
#social a{
	width: 32px;
	height: 32px;
	margin: 0 9px 9px 0;
	display: block;
	float: left;
}

#social a img{
	border: none;
}


/* =============================================================== */
/* Blockquote
================================================================ */
blockquote {
	border-left: 4px solid #e7e7e7;
	padding-left: 20px;
	color: #888;
	line-height: 20px;
	margin: 5px 0 20px 0;
}


/* =============================================================== */
/* Breadcrumbs
================================================================ */
#breadcrumbs {
	background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-color: #F7F7F7;
	border: 1px solid #ddd;
	padding: 11px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	color: #888;
	margin: -1px 0 0 0;
}

#breadcrumbs li {display: inline;}
#breadcrumbs li span {margin: 0 5px;}
#breadcrumbs li i {opacity: 0.3; margin: 0 3px 0 0;}

.more {
      display: none;
       }
      
      
/* =============================================================== */
/* Accordion
================================================================ */
.acc-trigger {
	border: 1px solid #ddd;
	cursor: pointer; 
	display: block;
	margin: 10px 0;
	background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-color: #F9F9F9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.acc-trigger a {
	background: url(../images/accordion_plus_ico.png) no-repeat right;
	border-left: #ddd;
	display: block;
	color: #888;
	outline:  none;
	padding: 11px 15px;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.acc-trigger.active a {cursor: default; background: url(../images/accordion_minus_ico.png) no-repeat right;}
.acc-trigger a:hover, .acc-trigger.active a{color: #444;}
.acc-trigger a h3 {font-weight: bold; font-size: 14px; letter-spacing: -0.5px; line-height: 28px; color: #777;}
.acc-container .content{ padding: 2px 15px 5px 15px; 	line-height: 19px;}
.content p {margin-bottom: 10px;}


/* =============================================================== */
/* Tabs
================================================================ */
.tabs-nav, .tabs-nav-custom {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0; background: url(../images/tab.jpg) repeat-x; padding-top: 10px;
}


.tabs-nav li, .tabs-nav-custom li {
	float: left;
	line-height: 30px;
	overflow: hidden;
	padding: 0;
	position: relative;
	margin: 0 0 -1px 0; margin-left: 10px; height: 40px;
}

.tabs-nav li a, .tabs-nav-custom li a {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	margin-right: 0px;   -webkit-box-shadow: 0 1px 2px #ccc inset; 
   -moz-box-shadow:0 1px 2px #ccc inset; 
   box-shadow:0 1px 2px #ccc inset;
}

.tabs-nav li a, .tabs-nav-custom li a {
		color: #999;
	display: block; font-size: 15px;
	letter-spacing: 0;
	outline: none;
	padding: 0 16px;
	text-decoration: none; font-weight: bold; padding-top: 7px; background-color: background-image: linear-gradient(bottom, #efefef 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #efefef 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #efefef 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #efefef 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #efefef 0%, #FFFFFF 100%); padding-bottom: 6px;
}

.tabs-nav li:first-child a, .tabs-nav-custom li:first-child a { }

.tabs-nav li.active a, .tabs-nav-custom li.active a {	color: #4b5056; font-weight: bold; }
.tabs-nav li.active a i, .tabs-nav-custom li.active a i {opacity: 0.8}
.tabs-nav li i, .tabs-nav-custom li i {opacity: .5}
				
.tabs-nav li.active a, .tabs-nav li a:hover, .tabs-nav-custom li.active a, .tabs-nav-custom li a:hover  {
	background: #fff;
}




.tabs-container {
	overflow: hidden;
	width: 100%;
	line-height: 19px;
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	border-radius: 0 3px 3px 3px; background-color: #FFF;
}

.tab-content {padding: 0px; padding-left: 0px; padding-right: 0px;}


ul.check_list {width: 200px; float: left;}

ul.hotel_list {width:220px;}
ul.hotel_list li { border-top: 1px dotted #999; padding-bottom: 5px; padding-top: 5px; font-weight: bold; font-size: 14px;}
ul.hotel_list li:hover {background-color: #FFF;}

ul.hotel_list li span.from-price {float: right; color: #999; font-size: 12px; padding-right: 10px; font-weight: normal; font-style: italic;}
ul.hotel_list li span.price {float: right; color: #c94a57;}



ul.the-icons {width:100%;margin-bottom: 10px;}




ul.the-icons li { border-bottom: 1px solid #ddd; padding-bottom: 15px; padding-top: 15px; font-weight: 400; font-size: 13px; font-family: 'Noto Sans', sans-serif;
width: 200px; clear: left;}

ul.the-icons li.children {padding-left: 26px; background: url(../images/address.png) no-repeat left center;}
ul.the-icons li.calendar {padding-left: 26px; background: url(../images/calendar_2.png) no-repeat left center;}
ul.the-icons li.meal {padding-left: 26px; background: url(../images/eat_restaurant.png) no-repeat left center;}


ul.the-icons li strong { font-size: 30px; padding-left: 0px; padding-right: 10px; width: 60px; color: #e6073c; font-size: 35px; }

ul.the-icons li em { font-weight: bold;  font-size: 15px;}


ul.the-icons-hotel {width:100%;margin-bottom: 10px;}
ul.the-icons-hotel li { border-bottom: 1px solid #ddd; padding-bottom: 10px; padding-top: 10px; font-weight: normal; font-size: 15px; font-family: 'Noto Sans', sans-serif;
}
ul.the-icons-hotel li strong { font-size: 30px; padding-left: 0px;  font-weight: 700; padding-right: 10px; width: 60px; color: #e6073c;}

ul.the-icons-hotel li em { font-weight: 700;}


#edit-form ul.facility, 
#profile_edit_form ul.facility,
#profile_edit_form2 ul.facility,
#profile_edit_form3 ul.facility,
#profile_edit_form4 ul.facility,
#profile_edit_form5 ul.facility, 
#payment_profile_form ul.facility,
#add_new_lastminute_offer ul.facility,
#change_password_form ul.facility,
#account_profile_form ul.facility,
#normal_user_profile_edit_form ul.facility,
#account_invoicing_form ul.facility {margin-left: 220px;}

#edit-form ul.facility li, 
#profile_edit_form ul.facility li,
#profile_edit_form2 ul.facility li,
#profile_edit_form3 ul.facility li,
#profile_edit_form4 ul.facility li,
#profile_edit_form5 ul.facility li,
#payment_profile_form ul.facility li,
#add_new_lastminute_offer ul.facility li,
#change_password_form ul.facility li,
#account_profile_form ul.facility li,
#normal_user_profile_edit_form ul.facility li,
#account_invoicing_form ul.facility li{ width:50%;  border-top: 1px dotted #999; padding-top: 5px; padding-bottom: 5px; font-weight: normal; font-size: 12px; float: left;}


#edit-form .checkbox, 
#profile_edit_form .checkbox,
#profile_edit_form2 .checkbox,
#profile_edit_form3 .checkbox,
#profile_edit_form4 .checkbox,
#profile_edit_form5 .checkbox, 
#payment_profile_form .checkbox,
#add_new_lastminute_offer .checkbox,
#change_password_form .checkbox,
#account_profile_form .checkbox,
#normal_user_profile_edit_form .checkbox,
#account_invoicing_form .checkbox {float: left;width: 30px;}


#edit-form ul.images, 
#profile_edit_form ul.images,
#profile_edit_form2 ul.images,
#profile_edit_form3 ul.images,
#profile_edit_form4 ul.images,
#profile_edit_form5 ul.images, 
#payment_profile_form ul.images,
#add_new_lastminute_offer ul.images,
#change_password_form ul.images,
#account_profile_form ul.images,
#normal_user_profile_edit_form ul.images,
#account_invoicing_form ul.images {margin-left: 220px;}

#edit-form ul.images li, 
#profile_edit_form ul.images li,
#profile_edit_form2 ul.images li,
#profile_edit_form3 ul.images li,
#profile_edit_form4 ul.images li,
#profile_edit_form5 ul.images li, 
#payment_profile_form ul.images li,
#add_new_lastminute_offer ul.images li,
#change_password_form ul.images li,
#account_profile_form ul.images li,
#normal_user_profile_edit_form li,
#account_invoicing_form li{ width:100%;  border-bottom: 1px dotted #999; background-color: #efefef; margin-bottom: 3px; padding-left: 10px; padding-top: 10px; padding-bottom:10px; font-weight: bold; font-size: 14px; float: left;}




/* =============================================================== */
/* List Styles
================================================================ */
.check_list li, .plus_list li, .minus_list li, .star_list li, .arrow_list li, .square_list li, .circle_list li, .cross_list li {list-style: none;margin: 5px 0;}

.check_list li {background: url(../images/list_icons/list_check.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.check_list li.service_yes{background: url(../images/service_yes.png) no-repeat !important;}
.check_list li.service_no{background: url(../images/service_no.png) no-repeat !important;}

.plus_list  li {background: url(../images/list_icons/list_plus.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.minus_list  li {background: url(../images/list_icons/list_minus.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.star_list  li {background: url(../images/list_icons/list_star.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.arrow_list  li {background: url(../images/list_icons/list_arrow.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.square_list  li {background: url(../images/list_icons/list_square.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.circle_list  li {background: url(../images/list_icons/list_circle.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.cross_list  li {background: url(../images/list_icons/list_cross.png) no-repeat 0% 50%; padding: 0 0 0 16px;}


/* =============================================================== */
/* Table
================================================================ */
table.standard-table{
	width:100%;
	border-radius:3px;
	border-collapse:separate;
	border-spacing:0;
	border:none;
	margin-bottom:15px;
}

table.standard-table th{
	border-bottom: 1px solid #dddddd;
	border-right: none;
	background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-color: #F7F7F7;
	text-align:left;
	padding:10px 15px;
	color:#444;
	vertical-align:top;
	font-size: 14px;
	font-weight: bold;
}
	
table.standard-table th:first-child{
	border-radius: 3px 0 0 0;
}

table.standard-table td:last-child {
}

table.standard-table th:last-child {
	border-radius: 0 3px 0 0;
}

table.standard-table td{
	padding:10px 15px;
	border-bottom:#e7e7e7 1px solid;
	border-top: none;
	border-right: none;
}
	
table.standard-table tr:hover td{background-color:#fafafa;}


/* =============================================================== */
/* Alert Boxes
================================================================ */
.notification {
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
	position: relative;
}

.notification p {margin: 0;}
.notification span {font-weight: bold;}

.notification.success {
	background-color: #EBF6E0;
	color: #5f9025;
	border: 1px solid #b3dc82;
	padding: 14px 18px;
	background-image: linear-gradient(bottom, #EBF6E0 0%, #F0FAE7 100%);
	background-image: -o-linear-gradient(bottom, #EBF6E0 0%, #F0FAE7 100%);
	background-image: -moz-linear-gradient(bottom, #EBF6E0 0%, #F0FAE7 100%);
	background-image: -webkit-linear-gradient(bottom, #EBF6E0 0%, #F0FAE7 100%);
	background-image: -ms-linear-gradient(bottom, #EBF6E0 0%, #F0FAE7 100%);
}



.notification.error {
	background-color: #ffe9e9;
	color: #de5959;
	border: 10px solid #FFF;
	padding: 14px 18px;
	background-image: linear-gradient(bottom, #FFE9E9 0%, #FFF2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFE9E9 0%, #FFF2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFE9E9 0%, #FFF2F2 100%);
	background-image: -webkit-linear-gradient(bottom, #FFE9E9 0%, #FFF2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFE9E9 0%, #FFF2F2 100%);
}

.notification.warning {
	background-color: #FBFADD;
	color: #8f872e;
	border: 1px solid #ded58a;
	padding: 14px 18px;
	background-image: linear-gradient(bottom, #FBFADD 0%, #FCFBE6 100%);
	background-image: -o-linear-gradient(bottom, #FBFADD 0%, #FCFBE6 100%);
	background-image: -moz-linear-gradient(bottom, #FBFADD 0%, #FCFBE6 100%);
	background-image: -webkit-linear-gradient(bottom, #FBFADD 0%, #FCFBE6 100%);
	background-image: -ms-linear-gradient(bottom, #FBFADD 0%, #FCFBE6 100%);
}

.notification.notice {
	background-color: #E9F7FE;
	color: #5091b2;
	border: 1px solid #b6d7e8;
	padding: 1px;
	background-image: linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -o-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -moz-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -webkit-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -ms-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
}

.notification.notice-why {
	background-color: #E9F7FE;
	color: #5091b2;
	border: 1px solid #b6d7e8;
	padding: 1px; padding:10px; text-align: center;
	background-image: linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -o-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -moz-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -webkit-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -ms-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
   border-radius: 4px; font-size: 14px;
}

.notification.notice-why a {
	color: #5091b2;
font-weight: bold;}


.notification.blue {
	background-color: #E9F7FE;
	color: #5091b2;
	padding: 1px;
	padding: 14px 18px; padding-top: 30px; 
	background-image: linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -o-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -moz-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -webkit-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
	background-image: -ms-linear-gradient(bottom, #E9F7FE 0%, #F2FAFE 100%);
}

.notification.red {
background-color: #FFF;
	padding: 14px 18px; padding-bottom: 3px;

	}


.notification.success .close, .notification.error .close, .notification.warning .close, .notification.notice .close {
	padding: 0px 14px;
	position: absolute;
	right: 0;
	top: 20px;
	display: block;
	height: 8px;
}

.notification.success .close {background: url(../images/alert_boxes_close_ico.png) 0 -8px no-repeat;}
.notification.error .close {background: url(../images/alert_boxes_close_ico.png) 0 0 no-repeat;}
.notification.warning .close {background: url(../images/alert_boxes_close_ico.png) 0 -16px no-repeat;}
.notification.notice .close {background: url(../images/alert_boxes_close_ico.png) 0 -24px no-repeat;}


/* =============================================================== */
/* Large Notice
================================================================ */
.large-notice {
	background: #FFF;
	border: 1px solid #e4e4e4;
	padding: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.large-notice h2 {
	margin-bottom: 10px; color:#e6073c;
}

.large-notice h3 {
	margin-bottom: 10px;
}

.large-notice p {
	font-size: 15px; line-height: 21px;
	color: #777;
}


/* =============================================================== */
/* Tooltip / Popover
================================================================ */
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -2px;
}

.tooltip.right {
  margin-left: 2px;
}

.tooltip.bottom {
  margin-top: 2px;
}

.tooltip.left {
  margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #555;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #555;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #555;
  border-left: 5px solid transparent;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #555;
  border-bottom: 5px solid transparent;
}

.tooltip-inner {
  max-width: 200px;
  padding: 4px 10px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   border-radius: 3px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  padding: 2px;
}

.popover.top {margin-top: -5px !important;}
.popover.right {margin-left: 5px !important;}
.popover.bottom {margin-top: 5px !important;}
.popover.left {margin-left: -5px !important;}


.popover-inner {
  width: 280px;
  overflow: hidden;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
   border-radius: 2px;
}

.popover-title {
  padding: 11px 15px;
  line-height: 1;
  background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
  background-color: #F7F7F7;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}

.popover-content {
  padding: 14px;
  background-color: #ffffff;
}

.popover-content p,
.popover-content ul,
.popover-content ol {
  margin-bottom: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}


/* =============================================================== */
/* Icons
================================================================ */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

.icon-white {
  background-image: url("../images/glyphicons-halflings-white.png");
	opacity: 1;
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}